html{
    box-sizing: border-box;
    user-select: none;
}

body{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #1B1B1B;
}

a{
    text-decoration: none;
    color:#1B1B1B;
}
ul{
    list-style: none;
}
.container{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.header{
    margin-bottom: 90px;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;  
}

.header__title{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    margin-left: auto;
}

.menu{
    margin: 0 185px 0 130px;
}

.menu__item:not(:last-child){
    margin-bottom: 10px;
}
.user__nav{
    display: flex;
    gap: 20px;
}

.top-slide{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-color: #fff;
}
.top-slide__inner{
    min-height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.top-slide__container{
    flex-basis: 183px;
    height: auto;
    margin-bottom: 143px;
}

.top-slide__title{
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 70px;
    margin-bottom: 56px;
    line-height: 1.3;
}

.top-slide__subtitle{
    font-size: 24px;
    margin-bottom: 10px;
}

.top-slide__text{
    margin-bottom: 20px;
}
.button{
    display: inline-block;
    color: #7449BB;
    font-weight: bold;
    padding: 21px 55px;
    border: 1px #7449BB solid;
    margin-left: auto;
}

.button:hover{
    color: #fff;
    background-color: #7449BB;
    transition: all 1s ease-out;
}

.container__arrow{
    position: relative;
    margin-bottom: 150px;
}

.swiper-button-prev:after, .swiper-button-next:after{
    content: none;
}

.swiper-button-next{
    left: 76px;
}

.about{
    margin-bottom: 150px;
}
.about__top{
    margin-left: 203px;
}

.about__title{
    font-family: "Playfair Display", serif;
    font-size: 32px;
    font-weight: 400;
    width: 184px;
    margin-bottom: 20px;
}

.about__textbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
}

.about__text{
    font-size: 14px;
    line-height: 1.2;
}

.about__text__bold{
    padding-top: 108px;
    padding-left: 203px;
    font-weight: bold;
}

.about__slider{
    width: 1200px;
    padding-left: 200px;
    margin-left: -200px;
    padding-bottom: 20px;
}

.about__arrow{
    width: auto;
    position: relative;
    margin-left: -200px;
    opacity: 1;
    margin-top: -5px;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
    opacity: 1;
}

.accordeon{
    margin-bottom: 223px;
}
.accordeon__item{
    margin-left: 200px;
    border-bottom: 1px solid #1B1B1B;
    margin-bottom: 50px;
    position: relative;
}

.accordeon__item:last-child::after {
    content: '';
    position: absolute;
    background-image: url('../images/accordeon/duhi.jpg');
    width: 65px;
    height: 120px;
    bottom: -73px;
    left: 268px;
  }
  

.accordeon__trigger{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-right: 100px;
    cursor: pointer;
}

.accordeon__trigger-title{
    font-family: "Inter", serif;
    font-size: 24px;
    font-weight: 400;
    flex-basis: 400px;
}

.accordeon__trigger-text{
    margin-right: 104px;
    flex-basis: 387px;
}

.accordeon__trigger-arrow{
    height: 50px;
}

.accordeon__content{
    display: none;
}
.accordeon__item-active .accordeon__content{
    display: block;
    padding-bottom: 20px;
}
  
.accordeon__item-active .accordeon__trigger-arrow {
    opacity: 0;
}
  